p {
    color: red;
}

.button {

    transition: 0.5s;
}

.button:hover {
    cursor: pointer;
    color: red;

}

span {
    transition: 0.5s;
}

.checked {
    text-decoration: line-through;
    color: rgb(80, 80, 80);
}